# Ignore build outputs
bin/
obj/

# Ignore user-specific files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Environment variables
.env

# Docker
Dockerfile
*.stackdump
