.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.header {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.pokemon-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc; /* Add a border around the container */
  border-radius: 10px; /* Rounded corners */
  background-color: #fafafa;
  display: inline-block; /* Make the container fit around the content */
}

.pokemon-text {
  font-size: 1.5rem;
  color: #444;
}

.loading-text {
  font-size: 1.5rem;
  color: #888;
}
